<html>
  <body>
    <main class="mb-auto">
      
      <%= render 'books/error', book: @book %>
      <%= render 'books/info', {book: @book, user: @user} %>  
      
      <div class="mx-auto col order-2 col-lg-7 col-md-7 col-sm-11 col-11">
        <h2 class="pt-3 pb-2">User</h2>
        <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="1"></th>
          </tr>
        </thead>
            
            <% @users.each do |user| %>
        <tbody>
            <tr>
             <td>
                <%= image_tag user.get_profile_image(100,100) %>
              </td>
              <td>
                  <%= user.name %>
              </td>
              <td><%= link_to user_path(user.id) do %>
                  Show
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
        </div>
      </div>
    </div>
    </main>
  </body>
</html>    